@page
@using Cerebro.Enum;
@model Cerebro.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row border border-2 p-3">
    <h1>Edit Employee</h1>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Employee.DateOfBirth" class="control-label"></label>
                <input asp-for="Employee.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Employee.HiringDate" class="control-label"></label>
                <input asp-for="Employee.HiringDate" type="date" class="form-control" />
                <span asp-validation-for="Employee.HiringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Employee.Role" class="control-label"></label>
                <select asp-for="Employee.Role" class="form-control" asp-items="Html.GetEnumSelectList<EmployeeRole>()">
                    <option selected="selected">Please select</option>
                </select>
                <span asp-validation-for="Employee.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Employee.Salary" class="control-label"></label>
                <input asp-for="Employee.Salary" asp-format="{0:N0}" class="form-control" />
                <span asp-validation-for="Employee.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Employee.ExitDate" class="control-label"></label>
                <input asp-for="Employee.ExitDate" type="date" class="form-control" />
                <span asp-validation-for="Employee.ExitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
